*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    color:rgb(255, 255, 255);
}

.navbar{
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    width:100%;
    top:0;
    z-index:10;
}

.logo{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
}

.nav-links{
    margin-left:850px;
    position:fixed;
    text-align:center;
    display:flex;
    list-style:none;
    gap:30px;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 0px 20px 0px 20px;
    background-color:black;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.3s;
}
.nav-links a:hover{
    background-color:rgb(97, 97, 97);
    color: rgb(255, 255, 255);
    border-radius:10px;
    transition: 0.25s;
}

.nav-links a:hover{
    color:#ffffff;
    background-color:white;
    
}

.nav-icons span{
    margin-left:20px;
    cursor:pointer;
    font-size:18px;
}

.hero{
    height:100vh;
    background-image:url("uncs.png");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:80px;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:48px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    margin-bottom:25px;
}

.button{
    display:flex;
    gap:15px;
}
.button:hover{
    background:#c1dbff;
    color:rgb(255, 217, 217);
    cursor:pointer;
    transition:0.5s;
}

.detail{
    background:#1c69d4;
    border:none;
    padding:14px 24px;
    color:white;
    font-size:16px;
    cursor:pointer;
}


/*sectionnnnn*/

#home{
    min-height:75vh;
    padding:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: black;
    align-items:center;
}
#filler{
    min-height:75vh;
    padding:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    color:black;
    align-items:center;
}
#how{
    background-image:url("bac.png");
    padding:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: rgb(90, 90, 90);
    align-items:center;
}
img{
    width:90%;
    height:400px;
    object-fit:cover;
}
.heros{
    margin-left:400px;
}
